<div>
    <h2> Xin chào </h2>
    <p><b>GIỚI HẠN NỒNG ĐỘ KHÍ GAS VƯỢT NGƯỠNG</b></p>
    <div>
        <h4>
            <b>Bước 1: Khóa van bình gas</b>
        </h4>
        Nếu phát hiện mùi hôi của khí gas phát ra ngoài thì bạn cần khóa van gas ngay lập tức.
        <h4>
            <b>Bước 2: Mở hết cửa sổ, cửa ra vào để khí gas thoát ra ngoài</b>
        </h4>
        <p>Mở hết các cửa sổ sau khi đã đóng van gas để cho khí gas thoát ra ngoài. </p>
        <p>Bạn có thể sử dụng bìa carton hoặc quạt tay để lùa khí gas ra môi trường.</p>
        <p>Lưu ý không bật quạt điện bởi dễ phát ra tia lửa điện gây cháy. </p>
        <p>Khi quạt, hãy quạt theo phương ngang để khí thoát ra ngoài một cách nhanh chóng. </p>
        <p>Không quạt theo phương thẳng đứng sẽ khiến khí gas bay cao và bạn dễ hít phải. </p>
        <p>
            Dùng khăn ướt để che mũi lại tránh hít phải khí gas và đưa mọi người trong gia đình nhanh chóng ra
            khỏi nhà.
        </p>
        <h4>
            <b>Bước 3: Không bật/tắt các công tắc, thiết bị điện trong nhà</b>
        </h4>
        Tuyệt đối không được bật/tắt các công tắc điện, dùng diêm hay bật lửa…..những thứ phát ra tia lửa điện
        dễ gây bắt <p>lửa dễ dàng.</p>
        <h4>
            <b>Bước 4: Kiểm tra vị trí rò rỉ gas</b>
        </h4>
        <p>Dùng xà phòng thoa lên khắp các dây gas, các vị trí nối của dây dẫn với bếp và bình gas. </p>
        <p>Khi thấy bọt xà phòng ở chỗ nào xì lên thì chỗ đó chính là nơi gas bị rò rỉ.</p>
        <p>Bạn dùng băng keo quấn chỗ đó lại. </p>
        <p>Trong quá trình kiểm tra bạn nên dùng vải ướt đã thấm bọt xà phòng để kiểm tra. </p>
        <p>Sau đó, nhanh chóng hãy mang bình gas đến nơi đất trống, thông thoáng, tránh xa các nguồn nhiệt. </p>
        <p>Bạn cần liên hệ ngay với các cơ sở gas uy tín để được kiểm tra, xử lý kịp thời.</p>
    </div>
</div>
